<section class="row">
  <%= for project <- @projects do %>
    <article class="column">
      <h2 title="<%= project.name %>">
        <%= project.short_code %>
      </h2>
      <ul>
        <li><%= project.description %></li>
      </ul>
    </article>
  <% end %>
</section>
