<h1>Show Project</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @project.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @project.description %>
  </li>

  <li>
    <strong>Short code:</strong>
    <%= @project.short_code %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.project_path(@conn, :edit, @project) %></span>
<span><%= link "Back", to: Routes.project_path(@conn, :index) %></span>
